<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>

  <section>
    <header>
      <a href="/register">Registrarse</a>
    </header>

    <main>
      <form method="POST" action="/login/auth">
        <input type="email" name="email" placeholder="nombre de usuario" required><br>
        <input type="password" name="password" placeholder="contraseña" required><br>
        <input type="submit" name="Entrar">
      </form>
    </main>

    <footer>
      <?php if(isset($error)) : ?>
      <?php echo $error ?>
      <?php endif; ?>
    </footer>
  </section>

</body>
</html>
