<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>
  <section>
    <main>
      <form method="POST" action="/register/store">
        Nombre:
        <input type="text" name="fullname" required minlength="3"><br>

        DNI:
        <input type="text" name="dni" required><br>

        Correo:
        <input type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>

        Contraseña:
        <input type="password" name="password" required minlength="6" pattern="^(?=.*[0-9])\w{6,}$"><br>

        País
        <select name="country" required>
          <?php foreach($countries as $country) : ?>
            <option value="<?php echo $country['name'] ?>"><?php echo $country['name'] ?></option>
          <?php endforeach; ?>
        </select><br>

        <input type="submit" name="Entrar">
      </form>
    </main>

    <footer>
      <?php if(isset($error)) : ?>
      <?php echo $error ?>
      <?php endif; ?>
    </footer>
  </section>
</body>
</html>
