<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <section>
        <header>
          <form method="POST" action="/user/search">
            <input type="text" name="search" placeholder="Búsqueda">
            <input type="submit" name="Buscar">
          </form>
          <a href="/login/logout">Salir</a>
        </header>
        <main>
            <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>País</th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($users as $user) : ?>
                    <tr>
                      <td><?php echo $user->getFullname(); ?></td>
                      <td><?php echo $user->getDni(); ?></td>
                      <td><?php echo $user->getEmail(); ?></td>
                      <td><?php echo $user->getCountry(); ?></td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>
        </main>
    </section>
</body>
</html>
